* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;4  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
  background-image: url('./images/bg-header.svg');
  background-size: 100% 500px;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Georgia', serif;
}

h2 {
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

p {
  color: #444;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
  max-width: 1920px;

  @media screen and (min-width: 768px) {
    padding: 50px;
    padding-bottom: 0;
  }
}

.header {
  width: 100%;

  @media screen and (min-width: 1023px) {
    display: flex;
    align-items: flex-start;
  }

  .picture {
    position: relative;
    width: fit-content;
    z-index: 1;

    img {
      max-width: 300px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

      @media screen and (min-width: 768px) and (max-width: 1023px) {
        float: left;
        margin-right: 20px;
      }
    }

    h1 {
      position: absolute;
      font-size: 64px;
      text-align: center;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
      width: 100%;

      @media screen and (min-width: 768px) and (max-width: 1023px){
        top: 0;
        left: 250px;
      }
    }
  }

  .about-me {
    position: relative;
    background-color: white;
    flex: 1;
    padding: 15px 30px;
    margin-top: 30px;
    height: 300px;

    @media screen and (min-width: 768px) {
      margin-left: -2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    @media screen and (min-width: 768px) and (max-width: 1023px)  {
      margin-top: 80px;
      margin-left: 50px;
      height: 500px;
    }

    h2 {
      text-align: center;

      @media screen and (min-width: 768px) and (max-width: 1023px)  {
        margin-left: 280px;
      }
    }

    p {
      text-align: left;
    }

    h2, p {
      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 20px;

      @media screen and (min-width: 768px) and (max-width: 1023px) {
        display: none;
      }

      @media screen and (min-width: 1024px) {
        margin-top: 50px;
        position: absolute;
        right: 20px;
        bottom: 20px;
      }

      i {
        font-size: 2rem;
      }
    }
  }
}

.content {
  text-align: center;
  width: 100%;
  margin-top: 100px;

 h2 {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-inline: 40px;
      gap: 20px;
      padding-bottom: 90px;
      box-shadow: 3px 3px 10px grey;

      @media screen and (min-width: 768px) {
        margin-inline: 0;
      }

      img {
        max-width: 100%;
      }

      p {
        padding-left: 20px;
      }

      .project-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        padding-left: 30px;
        padding-right: 20px;

        .icons {
          display: flex;

          i {
            font-size: 30px;
            margin-right: 10px;
          }

          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

footer {
  position: relative;
  background-color: SteelBlue;
  width: 100%;

  .footer {
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    .footer-text {
      flex: 1;
      padding: 50px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }

      h3, p {
        color: white;
      }

      h3 {
        text-align: center;
        margin-bottom: 10px;

        @media screen and (min-width: 768px) {
          text-align: left;
        }
      }

      i {
        font-size: 1.5rem;
      }

      .contact {
        display: grid;
        grid-template-areas: "a b ";
        grid-template-columns: max-content;
        gap: 10px;
      }

      .social-media {
        display: flex;
        gap: 20px;
      }
    }

    .footer-image {
      align-self: flex-end;

      img {
        vertical-align: bottom; // avoid extra space under the image
        height: auto;
        width: 100%;

        @media screen and (min-width: 768px) {
          margin: 30px;
          margin-bottom: 60px;
          height: 250px;
          width: auto;
        }

        @media screen and (min-width: 1024px) {
          height: 400px;
        }
      }
    }
  }
}
